<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1077509009395-c58olae1a51dgipob1iq0kqo18qjsrfq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1077509009395-c58olae1a51dgipob1iq0kqo18qjsrfq</string>
	<key>API_KEY</key>
	<string>AIzaSyA4RVcTsW4dBv0FN-uMV74SbS673kiKZTs</string>
	<key>GCM_SENDER_ID</key>
	<string>1077509009395</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>paul.TechParkProject</string>
	<key>PROJECT_ID</key>
	<string>findtests-33f37</string>
	<key>STORAGE_BUCKET</key>
	<string>findtests-33f37.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1077509009395:ios:d9fb80503403a706</string>
	<key>DATABASE_URL</key>
	<string>https://findtests-33f37.firebaseio.com</string>
</dict>
</plist>